<div id="main-container">
   <nav class="navbar navbar-light bg-light" id="codex-navbar">
      <div class="col-4">
         <span class="navbar-brand mb-0 h1">Codex</span>
      </div>
      <div class="col-8 d-flex justify-content-end">
         <input type="search" id="search-bar">
         <button id="search-button">Search</button>
         <span id="nav-separator">|</span>
         <button id="login-button">Login</button>
      </div>
   </nav>
   <div class="container-fluid" id="dashboard-container">
      <div class="row">
         <div class="col-3" id="dashboard-nav">
            <div id="new-snippet-button">+ New Snippet</div>
            {{#each languages}}
            <div class="language-container" id="{{language}}">
               <div class="language" data-lang="{{language}}" data-active="false">
                  {{language}}
               </div>

               {{#each tags}}
               <div class="tag" data-tag="{{tag}}">
                  {{tag}}
               </div>
               {{/each}}

            </div>
            {{/each}}
         </div>
         <div class="col-9" id="dashboard-display">
         </div>
      </div>
   </div>
</div>

<script>
   $(function () {

      $(".tag").hide();

      $(".language").on("click", function () {
         var id = $(this).attr("data-lang");
         console.log(id);
         $("#" + id + " .tag").toggle();
      });

      $(".language").on("click", function () {
         var active = $(this).attr("data-active");
        
         if (active === "false") {
            $(this).attr("data-active", "true");

            var snippetLanguage = $(this).attr("data-lang");
            var queryURL = "/api/dashboard/" + snippetLanguage;

            $.get(queryURL).then(function (res) {
               $("#dashboard-display").empty();
               var langTitle = $("<h2>").text(snippetLanguage + " Snippets").addClass("m-4");
               $("#dashboard-display").append(langTitle);
               createCards(res);
            })
         } else {
            $(this).attr("data-active", "false");
         }
      })

      $(".tag").on("click", function () {
         var snippetLanguage = $(this).parent().attr("id")
         var snippetTag = $(this).attr("data-tag")
         var queryURL = "/api/dashboard/" + snippetLanguage + "/" + snippetTag;

         $.get(queryURL).then(function (res) {
            $("#dashboard-display").empty();
            createCards(res);
         })
      })

      function createCards(res) {
         for (var i = 0; i < res.length; i++) {
            var newCard = $("<div>").addClass("card p-4 m-4");

            var snippet = $("<pre>");
            var code = $("<code>");
            code.text(res[i].snippet);
            snippet.append(code);

            var language = $("<p>").text("Language: " + res[i].language).addClass("font-weight-bold");
            var tags = $("<p>").text("Tags: " + res[i].tags).addClass("font-weight-bold");
            var description = $("<p>").text("Description: " + res[i].description).addClass("font-weight-bold");
            
            var btnContainer = $("<div>").addClass("container").addClass("p-0");
            var deleteButton = $("<button>").attr("id", "deleteSnippet").attr("data-id", res[i].id).text("Delete Snippet").addClass("btn delete-button mr-3");
            var editButton = $("<button>").attr("id", "editSnippet").attr("data-id", res[i].id).text("Edit Snippet").addClass("btn edit-button")
            btnContainer.append(deleteButton, editButton);

            newCard.append(snippet, language, tags, description, btnContainer);

            $("#dashboard-display").append(newCard);
         }
      }

      $("#new-snippet-button").on("click", function () {
         $("#dashboard-display").empty();

         var newCard = $("<div>").addClass("card p-4 m-4");
         var newForm = $("<form>").attr("id", "newSnippet");
         var snippetLabel = $("<label>").text("Snippet");
         var snippetInput = $("<textarea>").attr("cols", "50").attr("rows", "10").attr("id", "contentSnippet").addClass("form-control");
         var langLabel = $("<label>").text("Language").addClass("mt-3");
         var langInput = $("<input>").attr("type", "text").attr("id", "contentLanguage").addClass("form-control");
         var tagLabel = $("<label>").text("Tags (For now, put commas between each tag. No spaces.)").addClass("mt-3");
         var tagInput = $("<input>").attr("type", "text").attr("id", "contentTags").addClass("form-control");
         var descLabel = $("<label>").text("Description").addClass("mt-3");
         var descInput = $("<input>").attr("type", "text").attr("id", "contentDescription").addClass("form-control");
         var submit = $("<button>").attr("type", "submit").text("Submit").addClass("btn submit-button mt-3")

         newForm.append(snippetLabel, snippetInput, langLabel, langInput, tagLabel, tagInput, descLabel, descInput, submit);
         newCard.append(newForm);

         $("#dashboard-display").append(newCard);
      })

      $(document).on("submit", "#newSnippet", function (event) {
         event.preventDefault();

         var newSnippet = {
            snippet: $("#contentSnippet").val(),
            language: $("#contentLanguage").val().trim(),
            tags: $("#contentTags").val().trim(),
            description: $("#contentDescription").val().trim(),
            authorID: 1
         }

         $.post("/dashboard/newSnippet", newSnippet).then(function (res) {
            location.reload();
         })
      })

      $(document).on("click", "#deleteSnippet", function (event) {
         event.preventDefault();

         var id = $(this).attr("data-id");

         var deleteSnippet = {
            id: id
         }

         $.ajax({
            method: "DELETE",
            url: "/dashboard/deleteSnippet",
            data: deleteSnippet
         }).then(function (res) {
            location.reload();
         });
      })

   })
</script>